<br>
<div class="container-fluid">
    <div class="page-header">
        <h2> Disciplinas</h2>
    </div>


    <button class="btn btn-sm btn-primary" ng-click="irPara('/adicionarDisciplina')">
        <span class="glyphicon glyphicon-plus"></span>
        Adicionar
    </button>
    <center>
        <select name="curso" ng-model="curso" ng-change="listarDisciplinaPorCurso(curso)">
            <option value="">Selecione o Curso</option>
            <option ng-repeat="curso in curs" value="{{curso.id}}">{{curso.nome}}</option>
        </select>
    </center>

        <button style="float: right" class="btn btn-sm btn-primary" href="" ng-click="proxPag(pagina)"><span aria-hidden="true"> > </span></button>

        <button style="float: right" class="btn btn-sm btn-primary" href="" ng-click="voltarPag(pagina)"><span aria-hidden="true"> < </span></button>


    <table class="table">
        <thead>
        <tr>

            <th>
                <label>ID</label>
            </th>

            <th>
                <label>Nome</label>
            </th>

            </th>


        </tr>
        </thead>

        <tbody ng-repeat="disciplina in disci">
        <tr>
            <td>{{disciplina.id}}</td>
            <td>{{disciplina.nome}}</td>

        </tr>
        </tbody>
    </table>


</div>